card-body {
    margin-top: 16px;
    width: 100px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
   }.card-body > img 
    {
    position:relative;
    height: 425px;
    width: 240px;
    animation: rotation 2s infinite linear;
    }@keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
   }